# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
*.egg-info/
dist/
build/

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb_checkpoints

# MLflow
mlruns/
mlartifacts/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Model files (optional - since we're uploading to HF)
*.pkl
*.h5
*.pth

# Data files (optional - since we're uploading to HF)
*.csv

# Logs
*.log
